/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #fff;
  font: 18px 'Fenix', 'Georgia', serif !important;
  margin: 0 0 20px 0;
}

blockquote {
  font-style: italic;
}

a         { color: #000; }
a:hover   { color: #00a; }
a:visited { color: #000; }

.img-block {
  max-width: 50%;
  margin: 8px auto;
  text-align: center;
  display: block;
}

.header-link {
  font-size: 12px;
}

.page-title {
  font-family: 'Futura', 'Trebuchet MS', Arial, sans-serif;
  font-weight: bold;
}

.post-title {
  font-weight: bold;
  margin-bottom: 0;
}

.post-date {
  font-size: 14px;
  font-weight: italic;
  padding: 0;
  margin-bottom: 18px;
}

.post-content {
  margin: 8px 0 36px 0;
}

.post-content a, .post-content a:visited {
  color: #3C77C9;
  /*text-decoration: underline;*/
}

.post-footer {
  margin: 18px 0;
}

.footnotes {
  font-size: 14px;
  margin: 18px 0 0 0;
  padding: 8px 0 8px 32px;
  border-top: 1px solid #ccc;
}

.main-navigation { list-style: none; }
.main-navigation li { float: left; margin-right: 12px; font-weight: bold; }

#main-header a, #main-header a:visited { color: #fff; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Cabin', sans-serif;
  font-weight: 700;
}

header {
  padding-top: 20px;
}

footer {
  padding-bottom: 18px;
}

#searchpath-box {

}