---
layout: default
front: yes
title: Kyle Keesling - An Indianapolis-based Pixel Pusher
---

{% for post in paginator.posts %}
  <div class="mx-25">
    <h1>
      {% if post.link %}
        <a href="{{ post.link }}" class="no-underline" title="{{ post.title }} - {{ post.source }}">{{ post.title }}</a> <i class="fa fa-external-link text-sm"></i>
      {% else %}
        <a href="{{ post.url }}" class="no-underline" title="Permalink to '{{ post.title }}'">{{ post.title }}</a>
      {% endif %}
    </h1>
    <div class="font-thin pt-1">
      <em>{{ post.date | date: "%B, %-d %Y" }} - <a href="{{ post.url }}" title="Permalink"><i class="fa fa-link"></i></a></em>
    </div>
    <div class="my-5">
      {{ post.content }}
    </div>
  </div>
{% endfor %}

<!-- Pagination links -->
<div class="mt-8 clearfix bottom-links">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      {% capture previous_page %}/{% endcapture %}
    {% else %}
      {% capture previous_page %}/page{{ paginator.previous_page }}{% endcapture %}
    {% endif %}
    <a href="{{ previous_page }}" class="bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 rounded">&larr; Newer Posts</a>
  {% endif %}
  {% if paginator.next_page %}
    <a href="/page{{ paginator.next_page }}" class="bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 rounded float-right">Older Posts &rarr;</a>
  {% endif %}
</div>
