---
layout: default
title: Kyle Keesling - An Indianapolis-based Pixel Pusher
---

{% for post in site.posts %}
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    {% if post.link %}
      <h2 class="post-title"><a href="{{ post.link }}" title="{{ post.title }} - {{ post.source }}">{{ post.title }}</a> <i class="fa fa-external-link header-link"></i></h2>
    {% else %}
        <h2 class="post-title"><a href="{{ post.url }}" title="Permalink to '{{ post.title }}'">{{ post.title }}</a></h2>
    {% endif %}
    <span class="post-date">{{ post.date | date: "%B, %-d %Y" }} - <a href="{{ post.url }}" title="Permalink"><i class="fa fa-link"></i></a></span>
    <div class="post-content">
      {{ post.content }}
    </div>
  </div>
</div>
{% endfor %}