---
layout: default
title: Kyle Keesling - An Indianapolis-based Pixel Pusher
---

{% for post in site.posts %}
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    {% if post.link %}
      <h2 class="postTitle"><a href="{{ post.link }}">{{ post.title }}</a> <i class="fa fa-external-link"></i></h2>
    {% else %}
        <h2 class="postTitle"><a href="{{ post.url }}">{{ post.title }}</a></h2>
    {% endif %}
    <span class="postDate">{{ post.date | date: "%B, %-d %Y" }} - <a href="{{ post.url }}"><i class="fa fa-link"></i></a></span>
    <p>{{ post.excerpt }}</p>
  </div>
</div>
{% endfor %}

